@import url('./hero.css');

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
body {
  font-family: 'DM Sans', sans-serif;
  background-color: #cec4b4;
  color: #6a5c55;
}

html {
  scroll-behavior: smooth;
}

.container {
  width: 100%;
  max-width: 375px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 704px;
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1392px;
  }
  .scroll-up {
    position: fixed;
    bottom: 100px;
    right: 45px;
  }
  .load {
    flex: 1;
  }
}

.scroll-up {
  position: fixed;
  bottom: 20px;
  right: 20px;
  border: 4px solid #e1a832;
  border-radius: 50%;
  width: 54px;
  height: 54px;
  cursor: pointer;
  display: none;
  z-index: 2;
  background-color: #d3ac83;
  transition: background-color 0.1s ease;
  padding: 0;
}
/*  */
.scroll-up:hover,
.scroll-up:focus {
  border-color: #e19932;
  background-color: #d3a583;
}

.scroll-up-icon {
  fill: #e1a832;
}

.scroll-up:hover .scroll-up-icon {
  fill: #e19932;
}

.scroll-up.show {
  display: block;
}

.loader-container {
  display: flex;
  position: relative;
  width: 100%;
  justify-content: center;
  z-index: 900;
  background-color: transparent;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 901;
  width: 48px;
  height: 48px;
  border: 5px solid #6a5c55;
  border-bottom-color: #e1a832;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.is-hidden-loader {
  display: none;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
